.forgot-password-div {
  margin-top: var(--height);
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password-wrapper {
  min-width: 300px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
  background-image: url("https://app.scops.ai/public/images/background/scops_background_c_fsyg18_c_scale,w_3840.png");
  background-size: cover;
  background-position: center;
}

.forgot-password-wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  caret-color: transparent;
  font-size: 1.3rem;
}

.error-message-forgot-password,
.success-message-forgot-password {
  margin-bottom: 10px;
}

.error-message-forgot-password {
  color: #ff0000;
}

.success-message-forgot-password {
  color: #008000;
}

.form-group-forgot-password {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.form-group-forgot-password-label {
  padding: 5px 0;
  font-size: 1.1rem;
}

.forgot-password-new-pass-label {
  display: flex;
  font-size: 1rem;
}

.form-group-forgot-password input[type="email"],
.form-group-forgot-password input[type="text"],
.form-group-forgot-password input[type="password"] {
  width: 100%;
  padding: 3px 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
}

.form-group-forgot-password input[type="password"]{
  width: 59%;
}

.form-group-forgot-password input[type="email"]:focus,
.form-group-forgot-password input[type="text"]:focus,
.form-group-forgot-password input[type="password"]:focus {
  outline: 2px solid rgba(0, 0, 0, 0.7);
}

.button-forgot-password {
  background-color: #5fb261;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  caret-color: transparent;
}

.button-forgot-password:hover {
  background-color: #45a049;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .forgot-password-wrapper {
    padding: 10px;
    min-width: 100%;
  }

  .form-group-forgot-password {
    gap: 0.5rem;
  }

  .form-group-forgot-password label {
    font-size: 1rem;
  }

  .button-forgot-password {
    padding: 10px;
    font-size: 0.9rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .forgot-password-wrapper {
    padding: 15px;
    min-width: 90%;
  }

  .form-group-forgot-password {
    gap: 0.75rem;
  }

  .form-group-forgot-password label {
    font-size: 1.1rem;
  }

  .button-forgot-password {
    padding: 12px;
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .forgot-password-wrapper {
    padding: 20px;
    min-width: 80%;
  }

  .form-group-forgot-password {
    gap: 1rem;
  }

  .form-group-forgot-password label {
    font-size: 1.2rem;
  }

  .button-forgot-password {
    padding: 14px;
    font-size: 1.1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .forgot-password-wrapper {
    padding: 20px;
    min-width: 400px;
  }

  .form-group-forgot-password {
    gap: 1rem;
  }

  .form-group-forgot-password-label {
    font-size: 1.3rem;
  }

  .button-forgot-password {
    padding: 6px;
    font-size: 1.25rem;
  }
}